@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');
body, html {
    margin: 0;
    padding: 0;
    color: rgb(17, 33, 63);
}

body {
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    font-family: 'Source Sans Pro', sans-serif;
}

nav {
    text-align: center;
    width: 100vw;
    height: 15vh;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgb(17, 33, 63, 0.2);
}

#img-logo {
    height: 100%;
    cursor: pointer;
}

.container-principal {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.content-user {
    width: 33%;
    height: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 15px rgb(17, 33, 63, 0.2);
    clip-path: inset(0px -15px 0px 0px);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}


.titulo {
    font-size: 2em;
    font-weight: 700;
    color: #11213F;
}

#label-date {
    font-weight: 700;
}

input[type = "date"] {
    padding: 5px 10px;
    background-color: rgb(17, 33, 63);
    outline: none;
    border: none;
    color: whitesmoke;
    border-radius: 5px;
    font-weight: 700;
}

::-webkit-calendar-picker-indicator {
    background-color: whitesmoke;
    border-radius: 5px;
    cursor: pointer;
}

#date {
    margin-bottom: 3em;
}

#btn {
    background-color: rgb(17, 33, 63);
    font-weight: 700;
    color: white;
    padding: 0.2em 2em;
    border-radius: 5px;
    transition: 0.3s;
}

#btn:hover {
    background-color: whitesmoke;
    color: rgb(17, 33, 63);
    cursor: pointer;

}

.content-img {
    width: 77%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

#img {
    width: 100%;
    height: 100%;
}
.resp {
    margin: 0 1em;
}
.invisible {
    display: none;
}

#btn-voltar {
    background-color: whitesmoke;
    font-weight: 700;
    color: rgb(17, 33, 63);
    padding: 1em 1em;
    border-radius: 50px;
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
}